@font-face {
    font-family: "MuseoSansBlack";
    src: url(../fonts/museo/MuseoSansBlack.ttf);
}

@font-face {
    font-family: "MuseoSansBold";
    src: url(../fonts/museo/MuseoSansBold.ttf);
}

@font-face {
    font-family: "MuseoSansLight";
    src: url(../fonts/museo/MuseoSansLight.ttf);
}

@font-face {
    font-family: "MuseoSansMedium";
    src: url(../fonts/museo/MuseoSansMedium.ttf);
}

@font-face {
    font-family: "MuseoSansRegular";
    src: url(../fonts/museo/MuseoSansRegular.ttf);
}
